@import "tailwindcss";

@theme {
    --color-ts-blue-bright: #B0D5FF;
    --color-ts-blue-light: #6A9FDC;
    --color-ts-blue-medium: #4B6DB0;
    --color-ts-blue-dark: #314B7D;

    --animate-float: float 8s forwards;

    @keyframes float {
        from {
            rotate: 0deg;
            translateX: 150px;
        }
        to {
            rotate: 360deg;
            translateX: 150px;
        }
    }
}

@layer base {
    body {
        font-family: 'Raleway Variable', sans-serif;
        @apply text-white
    }
    h1 {
        @apply font-bold uppercase
    }
}

@layer components {
    .content-container {
        @apply lg:relative lg:w-160 lg:left-[calc(50%-128px)] xl:w-192
    }
}

