@import "tailwindcss";

@theme {
    --color-ts-blue-bright: #B0D5FF;
    --color-ts-blue-light: #6A9FDC;
    --color-ts-blue-medium: #4B6DB0;
    --color-ts-blue-dark: #314B7D;

    --breakpoint-2xl: 90rem;

    --animate-float: float 30s linear infinite;

    @keyframes float {
        from {
            transform: rotate(0deg) translateX(30px) rotate(0deg);
        }
        to {
            transform: rotate(360deg) translateX(30px) rotate(-360deg);
        }
    }

    --animate-jolt: jolt 0.1s ease-out forwards;

    @keyframes jolt {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(-5px) scale(1.02);
        }
        100% {
            transform: translateY(0) scale(1);
        }
    }
}

@layer base {
    body {
        font-family: 'Raleway Variable', sans-serif;
        @apply text-white caret-ts-blue-dark
    }

    h1 {
        @apply font-bold uppercase
    }

    h4 {
        @apply mb-5 text-sm leading-snug md:text-base xl:text-lg
    }

    p {
        @apply mb-4 text-xs md:text-sm lg:text-base
    }

    p a {
        @apply text-white underline
    }
}

@layer components {
    .content-container {
        @apply px-6 py-16 md:px-10 lg:py-20 lg:pl-16 lg:relative lg:w-156 lg:left-[calc(50%-128px)] xl:w-191 2xl:w-210
    }

    .anchor {
        @apply relative -top-[114px] lg:-top-20
    }

    .skill-tag {
        @apply px-4 py-2 text-white text-sm lg:text-lg font-semibold bg-ts-blue-medium
    }

    .text-bg {
        @apply relative before:absolute before:block before:-inset-y-1 before:bg-black/5 before:-left-4 before:-right-6 md:before:-left-4 md:before:-right-10 lg:before:-left-6 lg:before:-right-24  after:absolute after:block after:size-4 after:-left-[22px] after:-top-2.5 lg:after:-left-[30px] after:bg-black/5
    }
}

.face-hover > span {
    @apply flex items-center
}

.face-hover .second-icon {
    opacity: 0;
}

.face-hover:hover .first-icon {
    opacity: 0;
}

.face-hover:hover .second-icon {
    opacity: 1;
}

@media screen and (width = 1280px) {
    body {margin:0}
}
