<div id="contact" class="bg-ts-blue-medium">
    <div class="content-container px-5 py-12 lg:py-24 lg:pl-24">
        <h3 class="my-2 py-2 font-bold text-3xl xl:text-4xl relative z-1 before:-z-1 before:absolute before:block before:-inset-1 before:-left-6 before:lg:-left-12 before:-right-4 before:lg:-right-8 before:bg-ts-blue-dark after:absolute after:block after:size-5 after:-left-7.5 lg:after:-left-14 after:-top-2.5 after:bg-black/10">Want to Connect?</h3>
        <div class="flex flex-wrap lg:flex-col xl:flex-row py-1 gap-2 mb-8 font-medium text-xl relative z-1 before:-z-1 before:absolute before:block before:-inset-1 before:-left-4 before:lg:-left-6 before:-right-2 before:bg-black/10">
            <span>Offering a job opportunity?</span>
            <span>Have a project?</span>
            <span>Want to network?</span>
        </div>

        <form
        action="https://api.web3forms.com/submit"
        method="POST"
        id="form"
        class="needs-validation"
        data-astro-reload
        novalidate>

            <input type="hidden" name="access_key" value="302c56de-92fd-4f15-94e3-95e9166f314d" />

            <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
            <div class="mb-5">
                <input
                type="text"
                placeholder="Name"
                required
                class="w-full px-4 py-3 text-lg border bg-white placeholder:text-slate-400 rounded-xs outline-none focus:ring-4 border-ts-blue-dark focus:border-ts-blue-light ring-slate-100"
                name="name"
                />
                <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                    Please provide your full name.
                </div>
            </div>
            <div class="mb-5">
                <label for="email_address" class="sr-only">Email Address</label><input
                id="email_address"
                type="email"
                placeholder="Email Address"
                name="email"
                required
                class="w-full px-4 py-3 text-lg border bg-white placeholder:text-slate-400 rounded-xs outline-none focus:ring-4 border-ts-blue-dark focus:border-ts-blue-light ring-slate-100"
                />
                <div class="empty-feedback text-red-400 text-sm mt-1">
                    Please provide your email address.
                </div>
                <div class="invalid-feedback text-red-400 text-sm mt-1">
                    Please provide a valid email address.
                </div>
            </div>
            <div class="mb-3">
                <textarea
                name="message"
                required
                placeholder="Your Message"
                class="w-full px-4 py-3 text-lg border bg-white placeholder:text-slate-400 rounded-xs outline-none focus:ring-4 border-ts-blue-dark focus:border-ts-blue-light ring-slate-100"
                ></textarea>
                <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                    Please enter your message.
                </div>
            </div>
            <button type="submit">Send Message</button>
            <div id="result" class="mt-3 text-center"></div>
        </form>

        <style>
            .invalid-feedback,
            .empty-feedback {
                display: none;
            }

            .was-validated :placeholder-shown:invalid ~ .empty-feedback {
                display: block;
            }

            .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
                display: block;
            }

            .is-invalid,
            .was-validated :invalid {
                border-color: #dc3545;
            }
        </style>

        <script is:inline>

        // use astro:page-load event if you are using View Transitions

        document.addEventListener("DOMContentLoaded", () => {
        
            const form = document.getElementById("form");
            const result = document.getElementById("result");

            form.addEventListener("submit", function (e) {
                e.preventDefault();
                form.classList.add("was-validated");
                if (!form.checkValidity()) {
                form.querySelectorAll(":invalid")[0].focus();
                return;
                }
                const formData = new FormData(form);
                const object = Object.fromEntries(formData);
                const json = JSON.stringify(object);

                result.innerHTML = "Sending...";

                fetch("https://api.web3forms.com/submit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
                body: json,
                })
                .then(async (response) => {
                    let json = await response.json();
                    if (response.status == 200) {
                    result.classList.add("text-green-500");
                    result.innerHTML = json.message;
                    } else {
                    console.log(response);
                    result.classList.add("text-red-500");
                    result.innerHTML = json.message;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    result.innerHTML = "Something went wrong!";
                })
                .then(function () {
                    form.reset();
                    form.classList.remove("was-validated");
                    setTimeout(() => {
                    result.style.display = "none";
                    }, 5000);
                });
            });
            },
            { once: true },
        );
        </script>
    </div>
</div>