<button class="group md:hidden flex flex-col justify-between h-[41px] w-[43px] p-2 cursor-pointer">
    <span class="relative block bg-white w-[27] h-[3px] top-0 rounded transform transition-all duration-300 origin-center group-focus:rotate-45 shadow-sm shadow-ts-blue-dark group-focus:scale-x-120 group-focus:top-[11px]"></span>
    <span class="relative block bg-white w-[27] h-[3px] rounded transform transition-all duration-300 group-focus:opacity-0 group-focus:scale-50"></span>
    <span class="relative block bg-white w-[27] h-[3px] top-0 rounded transform transition-all duration-300 origin-center group-focus:-rotate-45 shadow-sm shadow-ts-blue-dark group-focus:scale-x-120 group-focus:-top-[11px]"></span>
</button>