<button
  class="sm:hidden flex flex-col justify-between h-[41px] w-[43px] mr-2 p-2 cursor-pointer"
>
  <span
    class="relative block bg-white w-[27] h-[3px] top-0 rounded transform transition-all duration-300 origin-center group-data-[nav-open='true']:rotate-45 shadow-sm shadow-ts-blue-dark group-data-[nav-open='true']:scale-x-120 group-data-[nav-open='true']:top-[11px]"
  ></span>
  <span
    class="relative block bg-white w-[27] h-[3px] rounded transform transition-all duration-300 group-data-[nav-open='true']:opacity-0 group-data-[nav-open='true']:scale-50"
  ></span>
  <span
    class="relative block bg-white w-[27] h-[3px] top-0 rounded transform transition-all duration-300 origin-center group-data-[nav-open='true']:-rotate-45 shadow-sm shadow-ts-blue-dark group-data-[nav-open='true']:scale-x-120 group-data-[nav-open='true']:-top-[11px]"
  ></span>
</button>
