---
import { Image } from "astro:assets"
import face from "../assets/face.png"
---

<div id="about" class="relative bg-ts-blue-medium mt-[50px] sm:px-10 sm:py-10 md:py-12">
    <div class="hidden sm:flex justify-between items-center -mx-10 px-16 bg-ts-blue-dark">
        <span>
            <h1 class="hidden sm:max-lg:block text-4xl">Tyson Sukeforth</h1>
            <h2 class="hidden sm:max-lg:block">Sr Front End Developer &#x1F7A0; Engineering Manager</h2>
            <h4 class="hidden lg:inline-block">I am an Engineering Manager and Senior Front-End Developer who has combined his technical aptitude for UI creation and years of hard earned industry wisdom and interpersonal skills to lead development teams to success.</h4>
        </span>
        <span class="flex justify-center shrink-0 items-center size-[175px] -my-7 -mr-8 ml-2 rounded-full bg-ts-blue-dark">
            <Image class="w-[102px] h-[113px] mt-3" src={face} width={102} height={113} alt="I always feel like somebody's watching me..." />
        </span>
    </div>
    <div class="content-container">
        <div class="p-6 md:p-10 bg-ts-blue-dark/60">
            <h4 class="lg:hidden pr-22">I am an Engineering Manager and Senior Front-End Developer who has combined his technical aptitude for UI creation and years of hard earned industry wisdom and interpersonal skills to lead development teams to success.</h4>
            <p>The web has come a long ways since I first started, in the days of table based layouts and IE6. (Shudder.) We now have a much more robust range of tools competing for the top spot, and keeping pace with it all can often be overwhelming.</p>
            <p>But to actually take a project from its inception and make it a reality takes more than just knowing the latest tech.</p>
            <p>It takes knowing <strong>why</strong> you use a tool as well as <strong>how</strong>.</p>
            <p>It takes understanding the client's needs, sometimes better than they do.</p>
            <p>It takes communication, integrity, drive, and years of accumulated wisdom to see how each factor contributes towards success. Things that aren't taught in a classroom, but can only be learned from years of doing what it takes to get the job done and done well. Or better yet, learned from a mentor who has.</p>
            <p>From small business projects to enterprise product teams, <strong>ask how can my expertise help drive your success.</strong></p>
        </div>
    </div>
</div>