<div class="bg-ts-blue-medium lg:bg-transparent h-[50px] lg:h-auto">
    <ul>
        <li>About</li>
        <li>Projects</li>
        <li>Skills</li>
        <li>Contact</li>
        <li>Resume</li>
    </ul>
</div>