---
import { Image } from "astro:assets";
import face from "../assets/face.png";
---

<section class="flex justify-center bg-ts-blue-medium inset-shadow-[0_-60px_60px_rgba(0,0,0,0.15)] min-h-screen">
  <div class="p-6 m-6 bg-ts-blue-dark/60">
    <h1 class="text-4xl mb-1">We've Moved!</h1>
    <p>
      Come checkout at my latest work at <a
        class="font-bold text-ts-blue-bright hover:text-white transition-all"
        href="https://nutfielddigital.com"
        target="_blank">Nutfield Digital</a
      >, a digital agency I founded to help small businesses get the most out of their web presence.
    </p>
  </div>
</section>
