---
const devSkills = ["React", "UI Development", "HTML", "CSS/SCSS", "Tailwind CSS", "Figma", "WordPress", "Bootstrap/Material Design UI", "Astro", "SEO/Schema Markup", "Lottie/GSAP Animation", "A/B Testing", "Git Versioning", "Code Reviews", "CI/CD", "Synthetic Monitoring", "CMS Integration", "Contentful", "Optimizely"]
const devLearning = ["React Native"]
const managementSkills = ["Agile/Scrum", "Team Leadership", "Mentoring", "Project Management", "Process Improvement", "Stakeholder Management", "Cross-Functional Collaboration", "Hiring & Onboarding", "Performance Reviews", "Constructive Feedback", "Time Management", "Production Deployment", "Root Cause Analysis"]
---

<div class="bg-white text-black lg">
    <div class="content-container">
        <span class="anchor" id="skills"></span>
        <h3 class="text-sm font-medium lg:text-base">Over the years I have worked with a variety of tools and technologies. Here are some of the ones I am most familiar with:</h3>
        <h3 class="text-bg mt-12 mb-8 text-xl lg:text-2xl font-bold uppercase">Development Skills</h3>
        <ul class="flex flex-wrap items-center justify-start gap-2 lg:gap-4 mb-8">
            {devSkills.map((skill) => (
                <li class="skill-tag">{skill}</li>
            ))}
        </ul>
        <h4 class="my-4 text-lg lg:text-xl font-bold">Currently Learning</h4>
        <ul class="flex flex-wrap items-center justify-start gap-2 lg:gap-4 mb-16">
            {devLearning.map((skill) => (
                <li class="skill-tag bg-ts-blue-light">{skill}</li>
            ))}
        </ul>
        <h3 class="text-bg mt-12 mb-8 text-xl lg:text-2xl font-bold uppercase">Management Skills</h3>
        <ul class="flex flex-wrap items-center justify-start gap-2 lg:gap-4">
            {managementSkills.map((skill) => (
                <li class="skill-tag">{skill}</li>
            ))}
        </ul>
</div>