<div id="skills" class="bg-white min-h-screen text-black">
    <div class="content-container p-10">
        <p>Over the years I have worked with a variety of tools and technologies. Here are some of the ones I am most familiar with:</p>
        <h2 class="">Development Skills</h2>
        <ul class="flex flex-wrap items-center justify-start gap-4">
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">React</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">Angular</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">Vue</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">TypeScript</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">JavaScript</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">HTML5</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">CSS3</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">SASS/SCSS</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">Node.js</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">Express.js</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">GraphQL</li>
            <li class="px-4 py-3 text-white text-xl font-semibold bg-ts-blue-medium">Apollo Client/Server</li>
        </ul>
</div>