---
import '@fontsource-variable/raleway';
import "../styles/global.css";
import Nav from "../components/Nav.astro";
---

<!doctype html>

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>Tyson Sukeforth | Sr Front End Web Developer - Engineering Manager</title>
	</head>
	<body class="overflow-x-hidden">
		<Nav />
		<slot />
	</body>
</html>
